<div ng-init="ctrl.lookup()" ng-show="ctrl.artists.releases">
  <h3 ng-show="ctrl.artists.releases.length">Releases for {{ ctrl.artists.name }}</h3>
  <table class="table table-striped"
         ng-show="ctrl.artists.releases.length" cellpadding="10">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Date</th>
        <th>Country</th>
        <th>Status</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="release in ctrl.artists.releases">
        <th>{{ release.id }}</a></th>
        <td>{{ release.title }}</th>
        <td>{{ release.date }}</td>
        <td>{{ release.country }}</td>
        <td>{{ release.status }}</td>
        <td>{{ release.disambiguation }}</td>
      </tr>
    </tbody>
  </table>

</div>
