<div ng-init="ctrl.search()">
    <br/>
    <form class="well form-search">
        <label>Artist Search:</label>
        <input type="text" ng-model="ctrl.keywords" class="input-medium search-query" placeholder="Madonna..." value="madonna">
        <button ui-sref="search({keywords: ctrl.keywords})" class="btn">Search</button>
    </form>

  <br/>
  <h3 ng-show="ctrl.artists.artists.length">Search Results</h3>
  <table class="table table-striped"
         ng-show="ctrl.artists.artists.length" cellpadding="10">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Country</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="artist in ctrl.artists.artists">
        <th><a ui-sref="search.releases({artistId: artist.id, info: 'releases'})">{{ artist.id }}</a></th>
        <td>{{ artist.name }}</th>
        <td>{{ artist.gender }}</td>
        <td>{{ artist.country }}</td>
        <td>{{ artist.type }}</td>
      </tr>
    </tbody>
  </table>

<nav class="navbar navbar-default">
  <div class="container-fluid" ng-show="ctrl.artistId">
    <!-- div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div -->
    <ul class="nav navbar-nav">
          <li>
            <a ui-sref="search.releases({artistId: ctrl.artistId, info: 'releases'})" ui-sref-active="active">Releases</a>
          </li>
          <li>
            <a ui-sref="search.works({artistId: ctrl.artistId, info: 'works'})" ui-sref-active="active">Works</a>
          </li>
          <li>
            <a ui-sref="search.recordings({artistId: ctrl.artistId, info: 'recordings'})" ui-sref-active="active">Recordings</a>
          </li>
    </ul>
  </div>
</nav>


    <div ui-view autoscroll="false">
    </div>
</div>
