<div ng-init="ctrl.searchSong()">
    <br/>
    <form class="well form-search">
        <label>Song Search:</label>
        <input type="text" ng-model="ctrl.artist" class="input-medium search-query" placeholder="The Doors...." value="The Doors"></input>
        <input type="text" ng-model="ctrl.song"   class="input-medium search-query" placeholder="The End...." value="The End"></input>
        <button ui-sref="song({song: ctrl.song, artist: ctrl.artist})" class="btn">Search</button>
    </form>

  <br/>
  <h3 ng-show="ctrl.songs.recordings.length">Search Results</h3>
  <table class="table table-striped"
         ng-show="ctrl.songs.recordings.length" cellpadding="10">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Length</th>
        <th>Releases</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="recording in ctrl.songs.recordings">
        <th>{{ recording.id }}</th>
        <td>{{ recording.title }}</th>
        <td>{{ recording.length }}</td>
        <td><div ng-repeat="track in recording.releases"><span>{{ track.title }} - {{ track.date }}<span><br/></div></td>
      </tr>
    </tbody>
  </table>

    <div ui-view autoscroll="false">
    </div>
</div>
